{% extends 'base.html' %}
{% load static %}
{% block shop-cart %}
{% csrf_token %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'fashionapp:index' %}"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for cart in carts %}
                                {% for order in orders %}
                                {% if cart.user == order.user %}
                                <tr url="/cart/{{ cart.item.slug }}">
                                    <td class="cart__product__item">
                                        <img src="{{ cart.item.mainimage.url }}" alt="image">
                                        <div class="cart__product__item__title">
                                            <h6>{{ cart.item }}</h6>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ <span>{{ cart.item.price }}</span></td>
                                    <td class="cart__quantity">
                                        <div class="pro-qty">
                                            <span url="/cart/remove/{{ cart.item.slug }}" class="dec qtybtn">-</span>
                                            <input type="text" value="{{ cart.quantity }}">
                                            <span url="/cart/{{ cart.item.slug }}" class="inc qtybtn">+</span>
                                        </div>
                                    </td>
                                    <td class="cart__total">$ <span></span></td>{% csrf_token %}
                                    <td class="cart__close"><a href=""><span url="/cart/delete/{{ cart.item.slug }}" class="icon_close"></span></a></td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                                                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="#">Continue Shopping</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn update__btn">
                        <a href="#"><span class="icon_loading"></span> Update cart</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="discount__content">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="" class="site-btn">Apply</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        <h6>Cart total</h6>
                        <ul>
                            <li class="subtotal">Subtotal <span> {total_orders}}</span></li>
                            <li class="total">Total <span> {{total_orders}}</span></li>
                        </ul>
                        <!-- href="{% url 'fashionapp:checkout' %}" -->
                        <a href="{% url 'fashionapp:checkout' %}" class="primary-btn checkout">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Cart Section End -->
    
<script> 

var articles = new Array();

for (var i=1; i<=4; i++){

   articles[i] = "item"+i;
//    console.log(articles[i] = "item"+i)

}
console.log(articles[1])

    
    if("{{request.user}}" == "AnonymousUser"){
        
        function shopCalc(){
            
            $('tbody tr').each(function(){
                var price = parseFloat($(this)[0].children[1].children[0].innerText);
                var quantity = parseInt($(this)[0].children[2].children[0].children[1].value);
                
                var t  = price * quantity
                var t = t.toString();
                
                $(this)[0].children[3].children[0].innerText = t;
            });
            
            var num = []
            
            $('tbody tr .cart__total').each(function(){
                var total = $(this)[0].innerText
                var total = total.substring(3)
                // console.log(total)
                num.push(parseFloat(total))

            });
            
            // console.log(num)
            var sum = 0;
    
            for(var i=0; i < num.length; i++){
    
                sum += parseFloat(num[i]);
    
            }
            // console.log(sum)
            $('.subtotal span')[0].innerText = "GH₵" + sum
            $('.total span')[0].innerText = "GH₵" + sum
            
            localStorage.setItem("total", sum)
        }
 
    
        $(document).on('click', '.icon_close', function(e){
            // shopCalc();
            e.preventDefault();
           
            var link = $(this).attr('url');
            var a = $(this).parent();
            var td = a.parent();
            var tr = td.parent();
            var cart_total = tr[0].children[3].children[0].innerText
            
            var l_total = localStorage.getItem("total")
            var total = l_total - cart_total
            
            localStorage.setItem("total", total)
            
            $('.total')[0].innerText = "GH₵ " + total
            $('.subtotal')[0].innerText = "GH₵ " + total
            
            // console.log(total)
            var tr_id = tr.attr('id')
            var cart = tr.attr('cart')
            // var quantity = tr[0].children[2].children[0].children[1].value
            tr.remove();
            
            for (var key in sessionStorage) {
                if (key === cart) {
                    sessionStorage.removeItem(key);
                }
            }
        });
        
        $(document).on('click', '.dec', function(){
            shopCalc();
            var tr = $(this).parent() //[0] // .offsetParent //.parentNode
            var tr = tr.parent()
            var tr = tr.parent()
            
            var q_value = $(this)[0].nextSibling.nextSibling.value
            var cart = tr.attr('cart')
            // console.log(cart)
            
            if (q_value == 0){
                tr.remove()
                for(var key in sessionStorage){
                    if (key === cart) {
                        sessionStorage.removeItem(key);
                    }
                }
            }
            
            for (var key in sessionStorage) {
                if (key === cart) {
                    var cartValue = sessionStorage.getItem(key);
                    var cartObj = JSON.parse( cartValue );
                    cartObj.qty = parseInt(cartObj.qty) - 1
                    sessionStorage.setItem(cart, JSON.stringify(cartObj))
                    // console.log(cartValue) 
                }
            }
        });
        
        $(document).on('click', '.inc', function(){
            shopCalc();
            
            var tr = $(this).parent() 
            var tr = tr.parent()
            var tr = tr.parent()
            var q_value = $(this)[0].previousSibling.value
            var cart = tr.attr('cart')
            // console.log()
            var item = tr[0].children[0].children[1].children[0].innerText
            
            for (var key in sessionStorage) {
                if (key === cart) {
                    var cartValue = sessionStorage.getItem(key);
                    var cartObj = JSON.parse( cartValue );
                    cartObj.qty = parseInt(cartObj.qty) + 1
                    sessionStorage.setItem(cart, JSON.stringify(cartObj))
                    // console.log(cartValue)
                }
            }
            console.log(q_value)
            $.ajax({
                type: 'POST',
                url: "{% url 'paymentsapp:add_quantity' %}",
                data: {
                    q_value: q_value,
                    item: item,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success:function(response){
                    console.log(response.message)
                }
            });
        });
        
        $(document).on('click', '.checkout', function(e){
            shopCalc()
            e.preventDefault();
            
             // return;
            
        });
        console.log(sessionStorage.length)
        for (var key in sessionStorage) {
            shopCalc();
            var cartValue = sessionStorage.getItem(key);
            var cartObj = JSON.parse( cartValue );
            
            try{
                $('tbody').append('<tr id="'+cartObj.id+'" cart="'+key+'">\
                                        <td class="cart__product__item">\
                                            <img src="/'+cartObj.img+'" alt="image">\
                                            <div class="cart__product__item__title">\
                                                <h6>'+cartObj.product+'</h6>\
                                                <div class="rating">\
                                                    <i class="fa fa-star"></i>\
                                                    <i class="fa fa-star"></i>\
                                                    <i class="fa fa-star"></i>\
                                                    <i class="fa fa-star"></i>\
                                                    <i class="fa fa-star"></i>\
                                                </div>\
                                            </div>\
                                        </td>\
                                        <td class="cart__price">GH₵<span>'+cartObj.price+'</span></td>\
                                        <td class="cart__quantity">\
                                            <div class="pro-qty">\
                                                <span url="/cart/remove/{{ cart.item.slug }}" class="dec qtybtn">-</span>\
                                                <input type="text"  min="1" value="'+cartObj.qty+'">\
                                                <span url="/cart/{{ cart.item.slug }}" class="inc qtybtn">+</span>\
                                            </div>\
                                        </td>\
                                        <td class="cart__total">GH₵ <span>'+(cartObj.price*cartObj.qty)+'</span></td>{% csrf_token %}\
                                        <td class="cart__close"><a ><span class="icon_close"></span></a></td>\
                                    </tr>')
            }catch(e){}
            
        }
        shopCalc();
        
        
    }else{
        $(document).on('click', '.dec', function(e){
            e.preventDefault();
            var link = $(this).attr('url');
    
            $('tbody tr').each(function(){
                var price = parseFloat($(this)[0].children[1].children[0].innerText);
                var quantity = parseInt($(this)[0].children[2].children[0].children[1].value);
                
                var t  = price * quantity
                var t = t.toString();
                
                $(this)[0].children[3].children[0].innerText = t;
            });
            
            var a = $(this).parent();
            var td = a.parent();
            var tr = td.parent();
            tr.attr('url', link);
            var price = tr[0].children[1].children[0].innerText;
            var quantity = tr[0].children[2].children[0].children[1].value;
            console.log(price + "price")
            console.log(quantity + "quantity")
            
            $.ajax({
                type: 'POST',
                url: link,
                data:{
                    price: price,
                    quantity: quantity,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success:function(response){
                    $('ul .subtotal span')[0].innerText = "$ " + response.price_total
                    $('ul .total span')[0].innerText = "$ " + response.price_total
                }
            });
        });
        
        $(document).on('click', '.inc', function(e){
            e.preventDefault();
            var link = $(this).attr('url');
            
            $('tbody tr').each(function(){
                var price = parseFloat($(this)[0].children[1].children[0].innerText);
                var quantity = parseInt($(this)[0].children[2].children[0].children[1].value);
                
                var t  = price * quantity
                var t = t.toString();
                
                $(this)[0].children[3].children[0].innerText = t;
            });
            
            var a = $(this).parent();
            var td = a.parent();
            var tr = td.parent();
            // tr.attr('url', link);
            var price = tr[0].children[1].children[0].innerText;
            var quantity = tr[0].children[2].children[0].children[1].value;
            console.log(price + "price")
            console.log(quantity + "quantity")
            
            $.ajax({
                type: 'POST',
                url: link,
                data:{
                    price: price,
                    quantity: quantity,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success:function(response){
                    console.log(response.price_total);
                    $('ul .subtotal span')[0].innerText = "$" + response.price_total
                    $('ul .total span')[0].innerText = "$" + response.price_total
                    console.log(link)
                    $('ul .subtotal span')[0].innerText = "$" + response.price_total;
                    $('ul .total span')[0].innerText = "$" + response.price_total;
                }
            });
        });
        
        $(document).on('click', '.icon_close', function(e){
            e.preventDefault();
            
            var link = $(this).attr('url');
            var a = $(this).parent();
            var td = a.parent();
            var tr = td.parent();
            var quantity = tr[0].children[2].children[0].children[1].value
            
            tr.remove();
            
            $.ajax({
                type: 'POST',
                url: link,
                data:{
                    qname: quantity,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success:function(response){
                    console.log(response.data);
                    $('ul .subtotal span')[0].innerText = "$" + response.price_total
                    $('ul .total span')[0].innerText = "$" + response.price_total
                    
                    $('a[href="/shop-cart/"] .tip').each(function(){
                        $(this)[0].innerText = response.cart_total; 
                    });
                }
            });
        });
    }
    
    console.log($('.total span')[0].innerText)
    if($('.total span')[0].innerText == "GH₵0"){
        $('.checkout').attr('href', '#')
        // console.log('gh')
    }
</script>
{% endblock %}
