<form>
    <script src="https://checkout.flutterwave.com/v3.js"></script>
    <button type="button" onClick="makePayment()">Pay Now</button>
  </form>
  
  <script>
    function makePayment() {
      FlutterwaveCheckout({
        public_key: "FLWPUBK-66106623098f258c4726fa3ea93bcf8e-X",
        tx_ref: "hooli-tx-1920bbtyt",
        amount: 1.00,
        currency: "GHS",
        country: "GH",
        payment_options: "card, mobilemoneyghana, ussd",
        redirect_url: "{% url 'paymentsapp:success' %}", // specified redirect URL
          // "https://callbacks.piedpiper.com/flutterwave.aspx?ismobile=34",
        meta: {
          consumer_id: 23,
          consumer_mac: "92a3-912ba-1192a",
        },
        customer: {
          email: "samuelgyamfi824@gmail.com",
          phone_number: "08102909304",
          name: "Samuel Gyamfi",
        },
        callback: function (data) {
          console.log(data);
        },
        onclose: function() {
          // close modal
        },
        customizations: {
          title: "My store",
          description: "Payment for items in cart",
          logo: "https://assets.piedpiper.com/logo.png",
        },
      });
    }
  </script>
