{% extends 'base.html' %}
{% block success %}
<div style="height: 70px;"></div>
<div class="container" >
    <div class="">
        <h1>Payment Successfull</h1>
        
        <h6>Click to continue shopping <a href="{% url 'fashionapp:index' %}">Home</a></h6>
    </div>
</div>
<div style="height: 90px;"></div>

<script>
    var total = localStorage.getItem('total')
    var arry = localStorage.getItem('arry')
    
    
    // $('a').on('click', function(){
        localStorage.clear();
        sessionStorage.clear();
    // });
</script>
{% endblock %}
