{% extends 'base.html' %}
{% load static %}
{% block register %}
      <!-- Breadcrumb Begin -->
      <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'fashionapp:index' %}"><i class="fa fa-home"></i> Home</a>
                        <span>Create an account</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    
    <section class="checkout spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6 class="coupon__link"><span class="icon_tag_alt"></span> <a href="{% url 'accounts:login' %}">Already have an account?</a> Click
                    here to login.</h6>
                </div>
            </div>
            <form action="#" method="POST" class="checkout__form">
            {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8">
                        <h5>Please fill this form to register</h5>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Fisrtname <span>*</span></p>
                                    <input type="text" name="firstname" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Lastname <span>*</span></p>
                                    
                                    <input type="text" name="lastname" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Othernames <span>*</span></p>
                                    {{form.othername}}
                                </div> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input user">
                                    <p>Username <span>*</span></p>
                                    <input type="text" name="username" id="uname" required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="checkout__form__input">
                                    <p>Country <span>*</span></p>
                                    {{form.country}}
                                </div>
                                <div class="checkout__form__input">
                                    <p>Address <span>*</span></p>
                                    {{form.address}}
                                </div>
                                <div class="checkout__form__input">
                                    <p>Town/City <span>*</span></p>
                                    {{form.city}}
                                </div>
                                <div class="checkout__form__input">
                                    <p>Region/State <span>*</span></p>
                                    {{form.region}}
                                </div>
                                <div class="checkout__form__input">
                                    <p>Postcode/Zip <span>*</span></p>
                                    {{form.postcode}}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Phone <span>*</span></p>
                                    {{form.phone}}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Email <span>*</span></p>
                                    <input type="email" name="email" required>
                                </div>
                            </div> 
                            <div class="col-lg-12">
                                <div class="checkout__form__input">
                                    <p>Account Password <span>*</span></p>
                                    <input type="password" name="password" required>
                                </div>
                                <button type="submit" class="site-btn">Create account</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    
    <script>
    
    console.log(sessionStorage)
        sessionStorage.setItem('login', 'login')
        if(sessionStorage.getItem('login')){
            console.log('arch')
        }else{
            $('header').hide()
            $('footer').hide()
            $('a').attr('href', '#')
        }
        
        
        $('#uname').on('keyup', function(){
            var username = $(this).val()
            
            $.ajax({
                type: 'GET',
                url: "{% url 'accounts:validate' %}",
                data: {
                    username: username,
                },
                success:function(response){
                    if (response.is_taken == true){
                        $('.user').append('<span id="error" style="color:red; font-size:15px;">This username is already taken</span>')
                        $('.site-btn').on('click', function(){
                            $(this).attr('type', '')
                        });
                    } else{
                        $('#error').remove()
                        $('.site-btn').on('click', function(e){
                            $(this).attr('type', 'submit')
                        });
                    }
                }
            });
        });
    </script>
{% endblock %}
