{% extends 'adminbase.html' %}
{% load static %}
{% block ordertable %}
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link not_delivered active" href="#">Pending Delivery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link delivered" href="#">Orders delivered</a>
    </li>
</ul>
<div class="table-responsive">
    <table class="table v-middle">
        <thead>
            <tr class="bg-light">
                <th class="border-top-0">Order</th>
                <th class="border-top-0">User</th>
                <th class="border-top-0">Status</th>
                <th class="border-top-0">Transaction_id</th>
                <th class="border-top-0">Total</th>
                <th class="border-top-0">Amount_paid</th>
                <th class="border-top-0">tx_ref</th>
            </tr>
        </thead>
        <tbody id="delivered">
            {% for order in orders %}
            
            {% if order.delivered == True %}
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="m-r-10"><a href="{% url 'adminapp:order_detail' order.id %}" class="btn btn-circle btn-info text-white text-uppercase">{{order.ordered_by|slice:":2"}}</a></div>
                        <div class="">
                            <h4 class="font-14">{{order.items}}</h4>
                        </div>
                    </div>
                </td>
                <td>{{order.ordered_by}}</td>
                <td>Delivered</td>
                <td>
                    <label class="label label-danger">{{order.transaction_id}}</label>
                </td>
                <td>GH₵ {{order.total}}</td>
                <td>
                    <label class="label label-success">GH₵ {{order.amount_paid}}</label>
                </td>
                <td>{{order.tx_ref}}
                    <h5 class="m-b-0"></h5>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
        
        <tbody id="not_delivered">
            {% for order in orders %}
            
            {% if order.delivered == False %}
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="m-r-10"><a class="btn btn-circle btn-info text-white text-uppercase">{{order.ordered_by|slice:":2"}}</a></div>
                        <div class="">
                            <h4 class="font-14">{{order.items}}</h4>
                        </div>
                    </div>
                </td>
                <td>{{order.ordered_by}}</td>
                <td>Not Delivered</td>
                <td>
                    <label class="label label-danger">{{order.transaction_id}}</label>
                </td>
                <td>GH₵ {{order.total}}</td>
                <td>
                    <label class="label label-success">GH₵ {{order.amount_paid}}</label>
                </td>
                <td>{{order.tx_ref}}
                    <h5 class="m-b-0"></h5>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $('#delivered').hide();
    $('tbody tr td div .font-14').each(function (){
        var txt = $(this)[0].innerText
        var txt = txt.replace(/,/gi, "\n")
       console.log(txt) 
       $(this)[0].innerText = txt;
    });
    
    $('.not_delivered').on('click', function(){
        $(this).attr('class', 'nav-link active not_delivered')
        $('.delivered').attr('class', 'nav-link delivered')
        $('#delivered').fadeOut();
        $('#not_delivered').fadeIn();
    });
    
    $('.delivered').on('click', function(){
        $(this).attr('class', 'nav-link active delivered')
        $('.not_delivered').attr('class', 'nav-link not_delivered')
        $('#not_delivered').fadeOut();
        $('#delivered').fadeIn();
    });
</script>
{% endblock %}